<!DOCTYPE html>
<html>
  <head>
    {{ template "head"}}
    <title>Recent Entries - MyDiary</title>
  </head>
  <body>
    {{ template "header" }}

    <div class="content">

      <ul class="table-view">
        {{ range . }}
        <li class="table-view-cell">
          <a class="navigate-right">
            <span class="badge">{{.Rate}}</span>
            {{.Timestamp}}
          </a>
        </li>
        {{ end }}
      </ul>

      </div>

    </div>

    {{ template "footer" }}
  </body>
</html>
