<!DOCTYPE html>
<html>
  <head>
    {{ template "head"}}
    <title>Recent Entries - MyDiary</title>
  </head>
  <body>
    {{ template "header" }}

    <div class="content">

      <div class="content-padded">
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Rate</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {{ range . }}
            <tr>
              <td>{{.Timestamp}}</td>
              <td>{{.Rate}}</td>
              <td>{{.Description.Value}}</td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </div>

    </div>

  </body>
</html>
