{{define "header"}}
<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">New Diary Entry</span>
    <!--
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a class="mdl-navigation__link" href="#">Link</a>
      <a class="mdl-navigation__link" href="#">Link</a>
      <a class="mdl-navigation__link" href="#">Link</a>
      <a class="mdl-navigation__link" href="#">Link</a>
    </nav>
    -->
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">MyDiary</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/entries">Previous Entries</a>
    <a class="mdl-navigation__link" href="/logout">Sign out</a>
  </nav>
</div>
{{end}}
