<!DOCTYPE html>
<html>
  <head>
    {{template "head"}}
    <title>MyDiary</title>
  </head>
  <body class="mdl-layout mdl-js-layout" id="minimal">
    <div class="wrapper">
      <h1><img src="/assets/imgs/logo.png" alt="MyDiary Logo"/></h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <a href="{{.FacebookURL}}" id="facebook-login" class="mdl-button mdl-button--raised mdl-button--colored">
        Connect with Facebook
      </a>
    </div>
    {{template "footer"}}
  </body>
</html>
