<!DOCTYPE html>
<html>
  <head>
    {{ template "head"}}
    <title>New Entry - MyDiary</title>
  </head>
  <body>
    {{ template "header" }}

    <div class="content">

      <div class="content-padded">
        <h3>{{.FirstName}}, how are you feeling?</h3>

        <form action="entries" method="POST">
          <input name="rate" id="rate" type="range" min="0" max="100" value="50" tabindex="0"/>
          <label for="rate" id="rate-label">OK</label>

          <textarea name="description" type="text" rows= "5"></textarea>
          <button class="btn btn-positive btn-block">Add Entry</button>
        </form>
      </div>

    </div>

  <script type="text/javascript" charset="utf-8">
    (function() {
      var el = document.getElementById("rate");
      var name = document.getElementById("rate-label");
      var ranges = {
        5: 'Desperately Unhappy',
        15: 'Very Unhappy',
        25: 'Unhappy',
        35: 'Passable',
        45: 'Quite OK',
        55: 'OK',
        65: 'Content',
        75: 'Cheerful',
        85: 'Happy',
        95: 'Delighted',
        100: 'Blissful'
      };
      el.oninput = function() {
        var v = parseInt(el.value, 10);
        for (var r in ranges) {
          if (v <= r) {
            name.innerHTML = ranges[r];
            break;
          }
        }
      };
    }());

  </script>
  </body>
</html>
