<!DOCTYPE html>
<html>
  <head>
    {{ template "head"}}
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {{ template "header" }}
      <main class="mdl-layout__content">
      <div class="page-content">
        <h3>{{.FirstName}}, how are you feeling?</h3>
        <form action="entries" method="POST">
          <input name="rate" id="mood" class="mdl-slider mdl-js-slider" type="range" min="0" max="100" value="50" tabindex="0"/>
          <small id="mood-name">OK</small>
          <div class="mdl-textfield mdl-js-textfield">
            <textarea name="description" class="mdl-textfield__input" type="text" rows= "5"></textarea>
            <label class="mdl-textfield__label">Today was...</label>
          </div>
          <button type="submit" class="mdl-button mdl-button--raised mdl-button--colored">Add</button>
        </form>
      </div>
      </main>
      {{ template "footer" }}
    </div>
  </body>
  <script type="text/javascript" charset="utf-8">
    (function() {
      var el = document.getElementById("mood");
      var name = document.getElementById("mood-name");
      var ranges = {
        5: 'Desperately Unhappy',
        15: 'Very Unhappy',
        25: 'Unhappy',
        35: 'Passable',
        45: 'Quite OK',
        55: 'OK',
        65: 'Content',
        75: 'Cheerful',
        85: 'Happy',
        95: 'Delighted',
        100: 'Blissful'
      };
      el.oninput = function() {
        var v = parseInt(el.value, 10);
        for (var r in ranges) {
          if (v <= r) {
            name.innerHTML = ranges[r];
            break;
          }
        }
      };
    }());

  </script>
</html>
