<!DOCTYPE html>
<html>
  <head>
    {{ template "head"}}
    <title>New Entry - MyDiary</title>
  </head>
  <body>
    {{ template "header" }}

    <div class="content">

      <div class="content-padded">
        <h3>{{.FirstName}}, how are you feeling?</h3>

        <form action="entries" method="POST">
          <input name="rate" id="rate" type="range" min="0" max="100" value="50" tabindex="0"/>
          <label for="rate" id="rate-label">OK</label>

          <textarea name="description" type="text" rows= "5"></textarea>
          <button class="btn btn-positive btn-block">Add Entry</button>
        </form>
      </div>

    </div>

    {{ template "footer" }}
  </body>
</html>
